body {
    overflow-y: visible;
}

body > .grid {
    height: 100%;
}

body > .pusher {
    min-height: 95%;
    margin: 40px 0 80px 0;
    padding: 0;
}

.left-spaced {
    margin-left: 1em !important;
}

.image.login {
    margin-top: -100px;
    width: 10em;
}

.footer {
    text-align: center;
    border-top: 1px solid rgba(160, 160, 160, 0.34) !important;
    position: relative;
    margin-top: -70px;
    height: 70px;
    clear: both;
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3) !important;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3) !important;
    box-shadow: 0 0 2px rgba(0,0,0,0.3) !important;
}

.column.login {
    max-width: 450px;
}

.ui.form > .field {
    padding-top: 1em
}

.ui.form > .ui.button {
    margin-top: 1em
}

input {
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
    border-bottom: 1px solid #D6D6D6 !important;
    border-radius: 0 !important;
}

.logo {
    margin: -.9em 0 !important;
    width: 6.5em !important;
}

.menu-spacer {
    padding-right: 0.5em;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
